<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container">
            <a class="navbar-brand" href="#">SOIGNEMOI</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav me-auto">
                    <li class="nav-item"><a class="nav-link" href="#">ACCUEIL</a></li>
                    <li class="nav-item"><a class="nav-link" href="#">SEJOUR</a></li>
                    <li class="nav-item"><a class="nav-link" href="#">SPECIALITES</a></li>
                </ul>
                <div class="navbar-nav">
                    <a class="nav-link" href="#">LOGIN</a>
                    <a class="nav-link" href="#">REGISTER</a>
                </div>
            </div>
        </div>
    </nav>
