<!-- { black | red | gray | left | center | right } -->
<section id="rdv" class="content-1 extended center gray">
    <div class="container">
        <div class="row">
                <div class="col-sm-6">
                    <div>
                        <h2>PRENDRE RENDEZ-VOUS</h2><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam nec sapien in orci bibendum sagittis. Vivamus arcu dolor, facilisis quis condimentum, ultricies molestie orci.&nbsp;Lorem ipsum dolor sit amet, consectetur dipiscing elit. Etiam nec sapien in orci bibendum sagittis. Vivamus arcu dolor, facilisis quis elit condimentum, ultricies molestie orci.</p>
                    </div>
                    <div class="group">
                        
                        <a class="btn btn-lg btn-danger" href="#" style="colo: bleu; !important"   >Choisir une date</a>

                    </div>
                </div>
                <div class="col-sm-6 img">
                    <img src="assets/images/iphone.jpg" alt="choisirdate" style="height:700px;wight:467px">
                </div>
        </div>
    </div>
</section>